<a href="https://colab.research.google.com/github/gustavo-plc/Curso_py/blob/main/Ci%C3%AAncia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Primeiro código!')

Primeiro código!

In [5]:
valor_int = 3 #tipo inteiro
valor_float = 1.5 #tipo ponto flutuante
string = "Olá mundo!" #tipo string
var_bool = True #tipo booleano
var_complex = 3+4j

print(type(valor_int))
print(type(valor_float))
print(type(string))
print(type(var_bool))
print(type(var_complex))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [6]:
valor_int = 15
valor_float = 1.5
soma = valor_int + valor_float
print(soma)
print(type(soma))

16.5
<class 'float'>

In [10]:
#conversão de um valor do tipo inteiro para um valor do tipo string
a = 100
b = str(a)
print(b)
print(type(b))

#conversão de um valor do tipo float para um valor do tipo inteiro

c = 12.00
d = int(c) #uma espécia de casting - converte para o tipo especificado antes
print(c)
print(d)
print(type(d))

#conversão de um valor do tipo inteiro para um valor do tipo float

e = 10
f = float(e)
print(f)
print(type(f))

100
<class 'str'>
12.0
12
<class 'int'>
10.0
<class 'float'>

In [ ]:
#Expressões