<a href="https://colab.research.google.com/github/gustavo-plc/Curso_py/blob/main/Ci%C3%AAncia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Primeiro código!')

Primeiro código!

In [ ]:
valor_int = 3 #tipo inteiro
valor_float = 1.5 #tipo ponto flutuante
string = "Olá mundo!" #tipo string
var_bool = True #tipo booleano
var_complex = 3+4j

print(type(valor_int))
print(type(valor_float))
print(type(string))
print(type(var_bool))
print(type(var_complex))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
valor_int = 15
valor_float = 1.5
soma = valor_int + valor_float
print(soma)
print(type(soma))

16.5
<class 'float'>

In [ ]:
#conversão de um valor do tipo inteiro para um valor do tipo string
a = 100
b = str(a)
print(b)
print(type(b))

#conversão de um valor do tipo float para um valor do tipo inteiro

c = 12.00
d = int(c) #uma espécia de casting - converte para o tipo especificado antes
print(c)
print(d)
print(type(d))

#conversão de um valor do tipo inteiro para um valor do tipo float

e = 10
f = float(e)
print(f)
print(type(f))

100
<class 'str'>
12.0
12
<class 'int'>
10.0
<class 'float'>

In [ ]:
#Expressões

a = 10
b = 3

#soma do valor de duas variáveis

soma = a + b

#subtração do valor de duas variáveis

sub = a - b

#divisão do valor de duas variáveis

div = a / b

#multiplicação do valor de duas variáveis

mult = a * b

print("soma: %d" % (soma))
print("subtração: %d" % (sub))
print("divisão inteira: %d" % (div)) #inteira
print("divisão fracionada: %.2f" % float(div)) #fracionada
print("multiplicação: %d" % (mult))

#resto de uma divisão de um inteiro por um inteiro

res = a % b #resto da divisão de a por b

#resultado de elevar um valor do tipo inteiro a outro do tipo inteiro

exp = a ** b

#piso: parte inteira da divisão de valores inteiros

pis = a // b

print("Resto: %d" % (res))
print("Exponencial: %d" % (exp))
print("Piso: %d" % (pis))

#trabalhando print

nome = "Gustavo"
idade = 36
altura = 1.71

print("Meu nome é %s, tenho %d anos e meço %.2fm" % (nome, idade, altura)) #análogo ao C

#outra forma de se utilizar a função print

aux_01 = 2
aux_02 = 3

print("O valor da primeira variável é {} enquanto o da segunda é {}" .format(aux_01, aux_02))

#operadores

a = 5
b = 2

c = a < b
d = a > b
e = a == b

print("Valor de c: ", c)
print("Valor de d: ", d)
print("Valor de e: ", e)
print(a >= b)
print(b <= b)

a = 10
b = 2

a += b #a+b
print(a)
a -= b #a-b
print(a)
a /= b #a/b
print(a)
a *= b #a*b
print(a)

soma: 13
subtração: 7
divisão inteira: 3
divisão fracionada: 3.33
multiplicação: 30
Resto: 1
Exponencial: 1000
Piso: 3
Meu nome é Gustavo, tenho 36 anos e meço 1.71m
O valor da primeira variável é 2 enquanto o da segunda é 3
Valor de c:  False
Valor de d:  True
Valor de e:  False
True
True
12
10
5.0
10.0

In [ ]:
nome = input("Qual é o seu nome? ") #usuário entra com string, não há casting
idade = int(input("Qual sua idade? ")) #entende entrada string como int
altura = float(input("Qual a sua altura? ")) #entende entrada como float
peso = float(input("Qual o seu peso? "))

print("Nome: %s" % nome)
print("Idade: %d" % idade)

imc = peso/(altura * altura)

print("IMC = %.2f" % imc)
print("Muito abaixo do peso: ", imc < 17)
print("Abaixo do peso normal: ", imc >= 17 and imc < 18.5)
print("Peso normal: ", imc >= 18.5 and imc < 25)
print("Acima do peso normal: ", imc >= 25 and imc < 30)
print("Muito acima do peso: ", imc >= 30)

Qual é o seu nome? gustavo
Qual sua idade? 34
Qual a sua altura? 1.80
Qual o seu peso? 77
Nome: gustavo
Idade: 34
IMC = 23.77
Muito abaixo do peso:  False
Abaixo do peso normal:  False
Peso normal:  True
Acima do peso normal:  False
Muito acima do peso:  False

In [ ]:
#condicionais

nota = float(input("Digite sua nota: "))

if nota < 60:
  print("Reprovado!")
else:
  print("Aprovado!")

if nota < 30:
  print("Reprovado!")
elif nota <= 50:
  print("Recuperação!")
else:
  print("Aprovado!")

n1 = int(input("Digite o primeiro número: "))
n2 = int(input("Digite o segundo número: "))

if n1 > n2:
  print(n1, "maior que", n2)
elif n1 < n2:
  print("%d maior que %d" % (n2, n1)) #outra forma de print
else:
  print("Os números ", n1, " e ", n2, " são iguais!") #outra forma de print

Digite sua nota: 20
Reprovado!
Reprovado!
Digite o primeiro número: 20
Digite o segundo número: 20
Os números  20  e  20  são iguais!

In [ ]:
#laços de repetição

#número pré-definido de vezes: for
#número indefinido de vezes, enquanto for verdadeira a condição: while

cont = 1

while cont <= 5:
  print(cont)
  cont += 1 #em C, seria cont++

nota = -1
while nota < 0 or nota > 10: #comando de repetição que só aceita se nota for valor válido
  nota = int(input("Digite uma nota entre 0 e 10: "))
print("nota: %d" % nota)

1
2
3
4
5
Digite uma nota entre 0 e 10: 5
nota: 5

In [ ]:
#comando for: quando se sabe quantas iterações serão necessárias para execução de um bloco de comandos

#range(início[omitido: 0], limite: <, passo[omitido: 1])

print(list(range(5)))
print(list(range(1, 5)))
print(list(range(2, 10, 3)))

for i in range(5):
  print("Oi, bem vindo ao curso de Python! %d" % i)

for i in range(0, 5):
  print(i)

for i in range(0, 10, 2):
  print(i)

total = 0
for i in range (0, 5):
  num = int(input("Digite um num: "))
  total += num

print("Soma: %s" % (total))
print("Média: %s" % (total/5))

tab = int(input("Tabuada do número: "))

for i in range(11):
  print(tab, " x %d" % (i)," = " , tab*(i))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[2, 5, 8]
Oi, bem vindo ao curso de Python! 0
Oi, bem vindo ao curso de Python! 1
Oi, bem vindo ao curso de Python! 2
Oi, bem vindo ao curso de Python! 3
Oi, bem vindo ao curso de Python! 4
0
1
2
3
4
0
2
4
6
8
Digite um num: 1
Digite um num: 2
Digite um num: 3
Digite um num: 4
Digite um num: 5
Soma: 15
Média: 3.0
Tabuada do número: 5
5  x 0  =  0
5  x 1  =  5
5  x 2  =  10
5  x 3  =  15
5  x 4  =  20
5  x 5  =  25
5  x 6  =  30
5  x 7  =  35
5  x 8  =  40
5  x 9  =  45
5  x 10  =  50

In [ ]:
#ESTRUTURAS DE DADOS EM PY

lista = []
print(lista)

lista_num = [1, 2, 3]
lista_nomes = ["andré", "ângelo", "Robson"]
lista_mix = [37, "Ângelo", "Robson", 9, 0, "Maria", 2]

print(lista_num)
print(lista_nomes)
print(lista_mix)

for item in lista_num:
  print(item)

print(lista_nomes[0])
print(lista_nomes[1])

lista = [1, 2, 3, 3, 3, 4, 5, 6, 7]

print("Tamanho da lista: %d" % len(lista))

lista.append(8)
print(lista)

print("Tamanho da lista: %d" % len(lista))

lista.pop()
print(lista)

lista.pop(0)
print(lista)

lista.remove(2)
print(lista)

lista.insert(0, 1) #insere na posição 0, o dado 1
print(lista)

print(lista.count(3))

print(lista.index(1))

lista.clear()

print(lista)

[]
[1, 2, 3]
['andré', 'ângelo', 'Robson']
[37, 'Ângelo', 'Robson', 9, 0, 'Maria', 2]
1
2
3
andré
ângelo
Tamanho da lista: 9
[1, 2, 3, 3, 3, 4, 5, 6, 7, 8]
Tamanho da lista: 10
[1, 2, 3, 3, 3, 4, 5, 6, 7]
[2, 3, 3, 3, 4, 5, 6, 7]
[3, 3, 3, 4, 5, 6, 7]
[1, 3, 3, 3, 4, 5, 6, 7]
3
0
[]

In [ ]:
lista = [1, 2, 3, 4, 5]

print(lista[::-1]) #imprime com o passo -1, ou seja, de forma invertida
print(lista[0:2]) #imprime começando do índice 0, sendo 2 o limite(<), ou seja, imprime índices 0 e 1
print(lista[-1]) #imprime o último item da lista

lista.sort()
print(lista)
lista[0] = 2
print(lista)

[5, 4, 3, 2, 1]
[1, 2]
5
[1, 2, 3, 4, 5]
[2, 2, 3, 4, 5]

In [ ]:
tupla_num = (1, 2, 3, 4)
print(tupla_num)

print(tupla_num.count(1))
print(tupla_num.index(2))
print(len(tupla_num))

#CONVERTENDO TUPLA EM LISTA para usar as funções append e pop

tupla_conv = list(tupla_num)

#adicionando um elemento ao final da tupla convertida
tupla_conv.append(5)
print("Elemento 5 adicionado: %s" % (tupla_conv))

#removendo o elemento ao final da tupla convertida

tupla_conv.pop()
print("Elemento 5 removido: %s" % (tupla_conv))

(1, 2, 3, 4)
1
1
4
Elemento 5 adicionado: [1, 2, 3, 4, 5]
Elemento 5 removido: [1, 2, 3, 4]

In [ ]:
#conjuntos: coleção de itens únicos que não seguem ordem específica, não indexado.
#sem elementos repetidos
#Estrutura mutável, em que o item é mais importante que o número de vezes que ele ocorre

frutas = ["maçã", "laranja", "maçã", "pera", "laranja", "banana"] #define uma lista de frutas, incluindo repetições

frutas_n_duplicados = set(frutas) #aplicação da função conjuntos na lista, para retirar só os elementos únicos
#ÚTIL PARA REMOVER OS ITENS DUPLICADOS

print(frutas_n_duplicados)

{'banana', 'pera', 'laranja', 'maçã'}

In [ ]:
#DICIONÁRIOS

#os elementos são indedaxos por uma chave
#funcionam sob a estrutura chave:valor

dic = {} #chave e valor
dic = dict()

print(dic)

dic_frutas = {"maçã" : 5.50,
              "banana" : 2.50,
              "pera" : 6.50,
              "uva" : 7.20}

print(dic_frutas)

#inserção de um novo item (chave) e seu valor ao final do dicionário
dic_frutas["Manga"] = 6.20

print(dic_frutas)

#alteração do preço da banana, ou seja, alteração do valor de uma dada chave do dicionário

dic_frutas["banana"] = 1.5
print(dic_frutas)

#consulta do preço de uma fruta, ou seja, consultar o valor de uma dada chave do dicionário

print("Uva: %s" % dic_frutas["uva"])
print("Pera: %s" % dic_frutas["pera"]) #a string que representa a chave é case sensitive: não deu certo com dic_frutas["Uva"]

{}
{'maçã': 5.5, 'banana': 2.5, 'pera': 6.5, 'uva': 7.2}
{'maçã': 5.5, 'banana': 2.5, 'pera': 6.5, 'uva': 7.2, 'Manga': 6.2}
{'maçã': 5.5, 'banana': 1.5, 'pera': 6.5, 'uva': 7.2, 'Manga': 6.2}
Uva: 7.2
Pera: 6.5

In [ ]:
#exemplo de construção de um dicionário de forma incremental

#criação de um dicionário com o desempenho de atletas

atletas = {} #dics são criados usando chaves, mas a inserção posterior de valores é feita por colchetes

#atribuição de um nome fictício a um dicionário

nome_atleta = "início"

#incluindo o nome dos atletas no dicionário

while nome_atleta != "":
  nome_atleta = input("Atleta: ")
  if nome_atleta != "":
    saltos = [] #lista para armazenar a distância dos saltos
    for i in range(0, 2):
      saltos.append(float(input("%sº Salto: " % (i+1))))

      # agora adiciona-se uma lista de saltos ao dicionário

      atletas[nome_atleta] = saltos #a cada atleta do dicionário associa-se uma lista de saltos.
      #para cada atleta, teremos duas informações (salto 1 e 2) salvas em uma lista.

#percorrer um dicionário retornando seus itens

print("\nResultado Final:")
for nome_atleta, saltos in atletas.items():
  print("Atleta: %s" % nome_atleta)
  print("Saltos: ", str(saltos))
  print("Média dos saltos: %.2f m" % (sum(saltos)/2))

# para percorrer o dicionário, listando as informações

dic_frutas = {"maçã" : 5.50,
              "banana" : 2.50,
              "pera" : 6.50}

for fruta, valor in dic_frutas.items():
  print("Fruta: %s" % fruta)
  print("Valor: %.2f" % valor)

Atleta:

Resultado Final:
Fruta: maçã
Valor: 5.50
Fruta: banana
Valor: 2.50
Fruta: pera
Valor: 6.50

In [ ]:
#FUNÇÕES

def soma(x, y, z):
  return x+y+z

s = soma(10, 20, 40)
print(s)

def par_impar(n):
  if n % 2 == 0:
    return True
  else:
    return False

print(par_impar(10))
print(par_impar(15))

def imc(nome, idade, altura, peso):
  print("Nome: %s" % nome)
  print("Idade: %d" % idade)

  imc = peso / (altura*altura)

  print("IMC: %.2f" % imc)

  if imc < 17:
    print("Muito abaixo do peso")
  elif imc >= 17 and imc < 18.5:
    print("Abaixo do peso normal")
  elif imc >= 18.5 and imc < 25:
    print("Peso normal")
  elif imc >= 25 and imc < 30:
    print("Acima do peso normal")
  else:
    print("Muito acima do peso")

imc("Robson", 28, 1.85, 98)

70
True
False
Nome: Robson
Idade: 28
IMC: 28.63
Acima do peso normal

In [ ]:
#exemplo de leitura de dados em arquivos

doc = open("doc.txt", "r")
for linha in doc.readlines():
  print(linha)
doc.close
print("\n")
#USANDO A FUNÇÃO SPLIT PARA DECOMPOR A STRING EM UMA LISTA
doc = open("doc.txt", "r")

#decomposição da string por vírgulas para gerar componentes e por consequência um arquivo csv

for linha in doc:
  valores = linha.split(",")
  print(valores[0], valores[1], valores[2], valores[3])
print("\n")

doc = open("doc.txt", "a") # a, de append, para acrescentar ao final do arquivo

#adição das novas linhas

doc.write("\nIris, ")
doc.write("01414, ")
doc.write("8.5, ")
doc.write("7.5 ")
doc.write("\n")
doc.close

#leitura do arquivo com a nova linha

doc = open("doc.txt", "r")
for linha in doc.readlines():
  print(linha)
doc.close

Nome,Matrícula,TB1,TB2

Robson,01554,7.0,8.0

André,01551,8.5,7.2

Maria,01441,7.0,8.6

Ângelo,01335,9.2,5.0

Luíza,01245,7.0,9.0

Joana,01412,8.0,7.5


Nome Matrícula TB1 TB2

Robson 01554 7.0 8.0

André 01551 8.5 7.2

Maria 01441 7.0 8.6

Ângelo 01335 9.2 5.0

Luíza 01245 7.0 9.0

Joana 01412 8.0 7.5


Nome,Matrícula,TB1,TB2

Robson,01554,7.0,8.0

André,01551,8.5,7.2

Maria,01441,7.0,8.6

Ângelo,01335,9.2,5.0

Luíza,01245,7.0,9.0

Joana,01412,8.0,7.5

Iris, 01414, 8.5, 7.5

In [ ]:
#PYTHON PARA CIÊNCIA DE DADOS:
# Manipulação de dados tabulares com PANDAS

import pandas as pd

#criação de um dataframe básico

cidades = pd.DataFrame(
    [
        ["Paraná", "Londrina", 575377, 1356.00],
        ["São Paulo", "São Carlos", 254484, 1508.00],
        ["Santa Catarina", "Florianópolis", 508826, 1798.00],
        ["Paraná", "Curitiba", 1963726, 2293.00],
        ["São Paulo", "Campinas", 1223237, 1710.00],
    ], columns=["Estado", "Cidade", "Habitantes", "Salário médio"])

cidades

#criação de um data frame a partir da leitura de um arquivo csv

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/winequality-red.csv", sep= ';', header = 0)

df.head(2) #retorna as n primeiras linhas de um DF

#Funcionalidades disponíveis na lib Pandas; funções básicas, tipos de dados, comandos básicos de consulta, ordenação, etc.

#Funções básicas:

#head, tail, shape, info, columns, count, describe

cidades.head(2) #retorna um novo dataframe com as n primeiras amostras

cidades.tail(2) #retorna um novo DF com as n últimas amostras

cidades.shape #retorna uma tupla com o número de linhas e colunas

cidades.info() #retorna vazio, mas imprime na tela as infors gerais

df.info()
cidades.columns #retorna uma lista com o nome de todas as colunas
cidades["Salário médio"].describe() #retorna um objeto DataFrame com as medidas estatísticas para cada coluna

cidades.dtypes #imprime os tipos de dados do DF identificados pela biblioteca

# ou cidades.info()

#para alterar o tipo de dado: exemplo abaixo:

cidades["Habitantes"] = cidades["Habitantes"].astype("float64")

cidades.dtypes

#Exemplo de tratamento de datas

#adicionando uma coluna de datas

cidades["Data"] = ["3-8-2021", "3-9-2021", "3-10-2021", "3-11-2021", "3-12-2021"] #criação da coluna

cidades.dtypes

cidades["Data"] = pd.to_datetime(cidades["Data"], format = "%d-%m-%Y") #estabelecendo o formato de LEITURA da data pela lib. A lib lê o dado como data e os coloca em um padrão YYYY-MM-DD
#abaixo explica como alterar esse formato padrão

cidades

#alterando o formato de EXIBIÇÃO da data

cidades["Data"] = cidades["Data"].dt.strftime("%d-%m-%Y")

cidades

#renomeando colunas do DF no Pandas por meio da função rename

cidades.rename(columns={"Habitantes":"N Habitantes", "Data": "Data - Censo"}, inplace=True)

cidades

#selecionando linhas e colunas

cidadesHab = cidades[["N Habitantes", "Salário médio"]] #seleção de colunas pelo nome

cidadesHab

# .loc[] permite selecionar linhas diretamente pelo rótulo

cidades.loc[[1,3,4]] #seleção das linhas 1 e 2
#nesse caso, os rótulos são números inteiros, mas poderia ser outra informação.

# .iloc[] só permite acessar o dado a partir da sua posição, ignorando rótulos.

cidades.iloc[1:3] #seleciona linhas de 1 a 3(exclusive), ou seja, não considerando a terceira linha, indo até a segunda.

#agora selecionando linhas e colunas: ordem dos parâmetros: linha inicial:linha final(exclusive), coluna inicial:coluna final (exclusive)

cidades.iloc[:, 0:2] #seleciona todas as linhas e as duas primeiras colunas. Colunas 0 a 2 exclusive, ou seja, 0 e 1.

cidades.iloc[1:3, :3] #seleciona as linhas 1 e 2 e as três primeiras colunas.

cidades.iloc[:,[1, 3, 0, 2]] #seleciona todas as linhas das colunas 1, 3, 0 e 2. Aqui não se usou os dois pontos para inícial e final, e sim a posição das colunas diretamente.

#adicionando colunas em um DF

#para tanto, deve-se usar a função df.insert(posição_coluna, "Nome_coluna", [Valores])

cidades.insert(2, "Sigla", ["PR", "SP", "SC", "PR", "SP"])
#adiciona como coluna 2, o atributo Sigla, com os valores indicados

cidades.insert(2, "Sigla Repetida", cidades["Sigla"]) #cria uma nova coluna no índice 2 cujos valores são
#oriundos da coluna Sigla do DF.

cidades

#Para exclusão das colunas repetidas, pode se usar as funções pop() ou drop()

cidades.pop("Sigla Repetida")

# ou cidades = cidades.drop(["Sigla Repetida"], axis = 1)

cidades

#PARA CONSULTAS AO DF: query()

#salários médios acima de R$ 1400

cidades.query('`Salário médio` > 1400')
cidades.query('Estado == "São Paulo"')
cidades.query('`N Habitantes` > 500000 and `N Habitantes` < 1300000')

#ordenação por meio da função sort_values(): alfabético ou numérico

cidades.sort_values(by='Cidade', inplace=True)

cidades

cidades.sort_values(by='Salário médio', inplace = True)
cidades

cidades.sort_values(by='Estado', inplace = True)
cidades

#Combinando DFs: a biblioteca Pandas trabalha de forma fácil com SQL-joins em DataFrames.

#os dois DFs abaixo podem ser posteriormente combinados pois tem pelo menos uma coluna em comum, a cidade.

cidades_salarios = pd.DataFrame(
    [
      ['Paraná', 'Londrina', 1356.00],
      ['São Paulo', 'São Carlos', 1508.00],
      ['Santa Catarina', 'Florianópolis', 1798.00],
      ['Paraná', 'Curitiba', 2293.00],
      ['São Paulo', 'Campinas', 1710.00]
    ], columns=['Estado', 'Cidade', 'Salário médio'])

cidades_salarios

cidades_pop = pd.DataFrame(
    [
      ['Londrina',575377],
      ['São Carlos', 254484],
      ['Florianópolis', 508826],
      ['Curitiba', 1963726],
      ['Campinas', 1223237]
    ], columns=['Cidade', 'Habitantes'])

cidades_pop

pd.merge(left=cidades_salarios, right=cidades_pop, on="Cidade")
pd.merge(left=cidades_salarios, right=cidades_pop, on="Cidade", how="outer") #isso faz com que a junção seja realizada não descartando-se os registros que não tem interseção nos conjuntos.

#juntando dois DFs

cidades_df1 = pd.DataFrame(
    [
        ['Londrina', 575377],
        ['São Carlos', 254484],
        ['Florianópolis', 508826],
    ], columns=['Cidade', 'Habitantes'])

cidades_df1

cidades_df2 = pd.DataFrame(
    [
        ['Curitiba', 1963726],
        ['Campinas', 1223237],
    ], columns=['Cidade', 'Habitantes'])

cidades_df2

pd.concat([cidades_df1, cidades_df2], ignore_index=True)

#SALVANDO UM DATAFRAME
#A Pandas permite salvar um data frame em vários formatos: csv, excel, json, HTML e HDF5 ou em um banco de dados.

cidades.to_csv("my_df.csv")
cidades.to_html("my_df.html")
cidades.to_json("my_df.json")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Estado         5 non-null      object
 1   Cidade         5 non-null      object
 2   Habitantes     5 non-null      int64
 3   Salário médio  5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 288.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
#VISUALIZAÇÃO DE DADOS

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import plotly
import plotly.graph_objects as go

# Para visualização dos gráficos com o Plotly no ambiente de notebook
# Jupyter, retire o comentário da linha abaixo.

# plotly.offline.init_notebook_mode(connected=True)

df_brasil = pd.read_csv("BRAZIL_CITIES.csv", sep=";", decimal=",")

columns = ['CITY','STATE','CAPITAL','IBGE_RES_POP', 'AREA',
           'RURAL_URBAN' ,'IDHM', 'LONG', 'LAT', 'ALT',
           'ESTIMATED_POP', 'GDP', 'TAXES', 'GDP_CAPITA',
           'COMP_TOT', 'MUN_EXPENDIT', 'GVA_AGROPEC',
           'Wheeled_tractor','IBGE_PLANTED_AREA']

df_brasil = df_brasil[columns]

df_brasil.CAPITAL = df_brasil.CAPITAL.replace(0, 'NÃO')
df_brasil.CAPITAL = df_brasil.CAPITAL.replace(1, 'SIM')
df_brasil.MUN_EXPENDIT = df_brasil.MUN_EXPENDIT.replace(np.nan, 0)

df_brasil.dropna(how ='any', inplace = True)

df_brasil rename(columns={'IBGE_RES_POP': 'POPULATION_2010',
                          'ESTIMATED_POP': 'POPULATION_2018',
                          'Wheeled_tractor': 'WHEELED_TRACTOR',
                          'IBGE_PLANTED_AREA': 'PLANTED_AREA'},
                            inplace=True)

df_brasil['AREA'] = df_brasil['AREA'].apply(lambda n: float(n.replace(',','')))

df_brasil['IDHM'] = df_brasil['IDHM'].astype(float)

df_brasil['GDP'] = df_brasil['GDP'].astype(float)

df_brasil['GDP_CAPITA'] = df_brasil['GDP_CAPITA'].astype(float)

df_brasil['TAXES'] = df_brasil['TAXES'].astype(float)

df_brasil['LONG'] = df_brasil['LONG'].astype(float)

df_brasil['LAT'] = df_brasil['LAT'].astype(float)

df_brasil['PLANTED_AREA'] = df_brasil['PLANTED_AREA'].astype(float)

df_brasil['GVA_AGROPEC'] = df_brasil['GVA_AGROPEC'].astype(float)

NORTE = ['AC', 'AM', 'AP', 'PA', 'RO', 'RR', 'TO']
NORDESTE = ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']
CENTROOESTE = ['DF', 'GO', 'MT', 'MS']
SUDESTE = ['ES', 'MG', 'SP', 'RJ']
SUL = ['PR', 'SC', 'RS']


def conversion_reg(n):
  if n in NORTE:
    return 'NORTE'
  elif n in NORDESTE:
    return 'NORDESTE'
  elif n in CENTROOESTE:
    return 'CENTROOESTE'
  elif n in SUDESTE:
    return 'SUDESTE'
  elif n in SUL:
    return 'SUL'
  else:
    return 'ERROR'

df_brasil['REGION'] = df_brasil['STATE'].apply(conversion_reg)